<navigation></navigation>

<div class="banner-detail" style="background-image: url('https://image.ibb.co/e5Nb2d/background_detail.png');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="texto">
          <h2>{{ vm.data.location.name }}</h2>
          <p>{{ vm.data.location.address }}</p>
          <p class="rating" rating-stars rating="vm.data.location.rating"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="detalhes-guincho">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="about">
              <h2>Sobre a {{ vm.data.location.name }}</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="info">
              <h2>Informações</h2>
              <p>Contato: {{ vm.data.location.phone }}</p>
              <p>Outras informações: {{ vm.data.location.operatingHours }}</p>
            </div>
            
            <div class="servicos">
              <h2>Serviços oferecidos</h2>
              <span class="label label-warning label-facility" ng-repeat="services in vm.data.location.services">
                {{ services }}
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 location-map">
            <div class="mapa">
              <h2>Local do guincho</h2>
              <div class="mapa-content">
                <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ vm.data.location.coords[1] }},{{ vm.data.location.coords[0] }}&amp;zoom=17&amp;size=400x350&amp;sensor=false&amp;markers={{ vm.data.location.coords[1] }},{{ vm.data.location.coords[0] }}&amp;scale=2&amp;key=AIzaSyDWF8vrk3gyKCXt-8nfS9BtaKSaLz_GYuo" class="img-responsive img-rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="avaliacoes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        
        <button ng-click="vm.popupReviewForm()" class="btn btn-default pull-right">Avaliar atendimento</button>
        <h3>Avaliações</h3>
        <p>Contribua com a comunidade e avalie os atendimentos</p>
        
        <div class="avalicacoes-content">
          <div class="review" ng-repeat="review in vm.data.location.reviews | orderBy: 'createOn':true" >
            <span class="reviewAuthor">{{ review.author }}</span>
            <span class="rating" rating-stars rating="review.rating"></span>
            <p ng-bind-html="review.reviewText | addHtmlLineBreaks"></p>
            <small class="reviewTimestamp">{{ review.createdOn | date : 'd MMMM yyyy'}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-generic></footer-generic>