.navbar-default {
    background-color: transparent; 
    border-color: rgba(255, 255, 255, 0.2);
}

.navbar {
    min-height: 90px;
}

.navbar-brand{
    font-size: 35px;
    line-height: 55px;
}

.navbar-brand span{
    color: #00a1b9;
}

.navbar-default .navbar-nav > li > a {
    padding: 10px 22px;
    border-radius: 30px;
    border: 2px solid #fff;
    float: right;
    margin-top: 22px;
    font-weight: 600;
    font-size: 15px;
    display: block;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #00a1b9;
    border-color: #00a1b9;
}

.navbar-fixed-top {
    position: absolute;
}

.banner-main {
    background-image: url('https://image.ibb.co/nxpdFy/background_main.png');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-main .texto {
    margin-top: 180px;
    height: 200px;
}

.banner-main h2 {
    text-align: center;
    font-size: 15px;
    font-family: 'Cabin';
    font-weight: 600;
    background: rgba(0, 161, 185, 0.82);
    width: 390px;
    height: 58px;
    line-height: 58px;
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
}

.banner-main p {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.banner-main .filtro {
    background: rgba(0,0,0,0.35);
    height: 120px;
}

.banner-main .filtro input{
    margin-top: 40px;
    background: transparent;
    border: 0px none;
    border-bottom: 1px solid #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height: 35px;
    color: #fff;
    font-size: 15px;
} 

.banner-main .filtro input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;;
    font-weight: 600;
}
.banner-main .filtro input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;;
    font-weight: 600;
}
.banner-main .filtro input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;;
    font-weight: 600;
}
.banner-main .filtro input:-moz-placeholder { /* Firefox 18- */
    color: #fff;;
    font-weight: 600;
}

.lista-guinchos {
    background: #fff;
    padding: 50px 0px;
}

.list-group-item {
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.12);
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 4px;
    position: relative;
    display: block;
    padding: 0;
}

.imagem-guincho {
    width: 100%;
    min-height: 135px;
    background-size: cover;
    border-radius: 4px 4px 0px 0px;
}

.info-item {
    padding: 15px 20px;
}

.badge {
    display: block;
    min-width: 10px;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #00a1b9;
    border-radius: 40px;
    float: right;
    margin-top: -70px;
}

.list-group-item h4 small{
    font-weight: normal;
    line-height: 1;
    color: #ffca00;
    font-size: 16px;
}

.info-item  a {
    color: #b4b4b4;
    font-size: 23px;
    margin-right: 10px;
}

.info-item  a:hover {
    text-decoration: none;
}

.info-item .address {
    height: 65px;
    color: #b4b4b4;
    margin-top: 15px;
}

.label {
    display: inline-block;
    padding: 7px 16px;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 20px;
    background: #b4b4b4;
    margin-right: 5px;
    margin-bottom: 4px;
    font-style: italic;
}

footer {
    background: #1b1b1b;
}

.chamada-guincho {
    height: 280px;
    border-bottom: 1px solid #313131;
    text-align: center;
    padding-top: 60px;
}

footer h2 {
    font-size: 36px;   
}

footer h2 span {
    color: #00a1b9;
    margin-right: 8px;
}

footer h2 b{
    font-weight: 600;
    font-family: Cabin;
    font-size: 22px;
}

footer small {
    margin-top: 35px;
    font-size: 11px;
    display: block;
    margin-bottom: 35px;
}

footer button{
    background: #fff;
    border: 0px;
    padding: 15px 50px;
    border-radius: 40px;
    margin-top: 12px;
    color: #00a1b9;
    font-size: 16px;
}

.error {
    color: #aaa;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}

.banner-detail {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-detail .texto {
    margin-top: 150px;
    text-align: center;
}

.banner-detail .texto h2 {
    font-size: 36px;
}


.banner-detail .texto .rating {
    color: #ffca00;
    font-size: 16px;
    margin-top: 12px;
}

.detalhes-guincho {
    padding: 70px 0px;
    background: #f1f1f1;
}

.detalhes-guincho h2 {
    color: #9d9d9d;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.detalhes-guincho p {
    color: #b0b0b0;
    font-size: 16px;
}

.about {
    margin-bottom: 45px;
}

.about p {
    width: 100%;
    border-top: 1px solid #ddd;
    padding-top: 18px;
}

.info {
    margin-bottom: 45px;
}

.servicos {
    margin-bottom: 45px;
}

.mapa img{
    border: 3px solid #dedede;
}

.avaliacoes {
    background: #fff;
    padding: 70px 0px;
}

.avaliacoes h3 {
    color: #00a1b9;
    margin-top: 0px;
    font-size: 30px;
}

.avaliacoes p {
    color: #aaa;
    font-size: 15px;
}

.avaliacoes button {
    background: #00a1b9;
    color: #fff;
    border-radius: 50px;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 15px;
}

.avaliacoes button:hover {
    background: #00a1b9;
    color: #fff;
    border-radius: 50px;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 15px;
}

.avaliacoes button:focus {
    background: #00a1b9;
    color: #fff;
    border-radius: 50px;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 15px;
}

.avalicacoes-content {
    margin-top: 50px;
}

.reviewAuthor {
    margin: 0px;
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
}

.avaliacoes .rating {
    color: #ffca00;
    font-size: 16px;
}

.avalicacoes-content p {
    color: #989898;
    font-size: 15px;
    margin: 7px 0px;
}

.review {
    padding-bottom: 40px;
}

.review-header {
    margin-bottom: 10px;
}

.reviewTimestamp {
    color: #ccc; 
    font-size: 14px;
}

.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #00a1b9;
}

.modal-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}

.modal-content .btn-primary {
    color: #ffffff;
    background-color: #2e9e00;
    border-color: #2e9e00;
    border-radius: 42px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 14px;
}

.modal-content .btn-primary:hover {
    color: #ffffff;
    background-color: #2e9e00;
    border-color: #2e9e00;
    border-radius: 42px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 14px;
}

.modal-content .btn-default {
    color: #ffffff;
    background-color: #a7a7a7;
    border-color: #a7a7a7;
    border-radius: 42px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 14px;
}


.footer {
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
}

.page-about {
    border-top: 90px solid #343434;
}

@media (max-width: 768px) {

    .navbar-default .navbar-nav > li > a {
        padding: 0;
        border-radius: 0;
        border: none;
        float: none;
        font-weight: normal;
        font-size: 15px;
        display: inline;
        line-height: 50px;
    }

    .navbar-nav {
        float: none;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
      border-color: #00a1b9;
      background-color: #00a1b9;
      margin-top: 8px;
    }

    .footer {
        text-align: center;
    }
    footer{
        text-align: center;
    }

    .avaliacoes button {
        margin-top: -10px;
    }

    .avaliacoes p {
        margin-top: 30px;
    }

    .avaliacoes-content p {
        margin-top: 7px;
    }

}