<navigation></navigation>
<div class="page-about">
	<div class="container">
		<page-header content="vm.pageHeader"></page-header>
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<p ng-bind-html="vm.main.content | addHtmlLineBreaks"></p>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<small>&copy; 2018 Todos os direitos reservados - Projeto modular UNIBTA - Orientadora Professora Renata Jacuk</small>
				</div>
			</div>
		</div>
	</div>
</div>