extends layout

block content
    #banner.page-header
        .row
            col-md-6.col-sm-12
                h1= title
        .row
            .col-md-6.col-sm-12
                p !{(content).replace(/\n/g, '<br/>')}






