doctype html
html(ng-app='helpcarApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/angular/angular.min.js')
  body
    
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href='/') HelpCar
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            #navbar-main.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='/about/') Sobre
    .container
        div(ng-view)
            block content
            footer
                .row
                    .col-xs-12
                        small &copy; HelpCar 2018
    script(src='/lib/angular-route.min.js')
    script(src='/angular/helpcar.min.js')
    //- script(src='/app.js')
    //- script(src='/home/home.controller.js')
    //- script(src='/common/services/helpcarData.service.js')
    //- script(src='/common/services/geolocation.service.js')
    //- script(src='/common/filters/formatDistance.filter.js')
    //- script(src='/common/directives/ratingStars/ratingStars.directive.js')
    script(src='/javascripts/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/validation.js')