extends layout

include _includes/sharedHTMLfunctions

block content
    #banner.page-header    
        .row
            .col-lg-6
                h1= pageHeader.title
                    small &nbsp;#{pageHeader.strapline}
    .row
        .col-xs-12.col-sm-8(ng-controller='locationListCtrl')
            label(for="filter") Filter results
            input#filter(type="text", name="filter", ng-model="textFilter")
            .error {{ message }}
            .row.list-group
                .col-xs-12.list-group-item(ng-repeat="location in data.locations | filter : textFilter" )
                    h4
                        a(href="/location/{{ location._id }}") {{ location.name }}
                        small(rating-stars, rating='location.rating')
                        span.badge.pull-right.badge-default {{ location.distance | formatDistance }}
                    p.address {{ location.address }}
                    p
                        span.label.label-warning.label-facility(ng-repeat="services in location.services")
                            | {{ services }}
        .col-xs-12.col-sm-4
            p.lead= sidebar



                           