extends layout

block content
    .row.page-header
        .col-lg-12
            h1= pageHeader.title
    .row
        .col-xs-12.col-md-6
            form.form-horizontal(action="", method="post", role="form")
                .form-group
                    label.col-xs-2.col-sm-2.control-label(for="name") Name
                    .col-xs-12.col-sm-10
                        input#name.form-control(name="name")
                .form-group
                    label.col-xs-2.col-sm-2.control-label(for="address") Address
                    .col-xs-12.col-sm-10
                        input#address.form-control(name="address")
                .form-group
                    label.col-xs-2.col-sm-2.control-label(for="services") Services
                    .col-xs-12.col-sm-10
                        input#services.form-control(name="services")
                 .form-group
                    label.col-xs-2.col-sm-2.control-label(for="lng") Longitude
                    .col-xs-12.col-sm-6
                        input#lng.form-control(name="lng")
                .form-group
                    label.col-xs-2.col-sm-2.control-label(for="lat") Latitude
                    .col-xs-12.col-sm-6
                        input#lat.form-control(name="lat")
                .form-group
                    label.col-xs-2.col-sm-2.control-label(for="days1") Days
                    .col-xs-12.col-sm-6
                        input#days1.form-control(name="days1")
                .form-group
                    label.col-xs-2.col-sm-2.control-label(for="opening1") Opening
                    .col-xs-12.col-sm-4
                        input#opening1.form-control(name="opening1")
                .form-group
                    label.col-xs-2.col-sm-2.control-label(for="closing1") Closing
                    .col-xs-12.col-sm-4
                        input#closing1.form-control(name="closing1")
                 .form-group
                    label.col-xs-2.col-sm-2.control-label(for="days2") Days
                    .col-xs-12.col-sm-6
                        input#days2.form-control(name="days2")
                .form-group
                    label.col-xs-2.col-sm-2.control-label(for="opening2") Opening
                    .col-xs-12.col-sm-4
                        input#opening2.form-control(name="opening2")
                .form-group
                    label.col-xs-2.col-sm-2.control-label(for="closing2") Closing
                    .col-xs-12.col-sm-4
                        input#closing2.form-control(name="closing2")

                button.btn.btn-default.pull-right Add new location
        .col-xs-12.col-md-4