<footer>
	<div class="chamada-guincho">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Você é <span>guincheiro?</span><b>Cadastre-se.</b></h2>
					<a href="/#about/"><button>Entenda como funciona</button></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<small>&copy; 2018 Todos os direitos reservados - Projeto modular UNIBTA - Orientadora Professora Renata Jacuk</small>
			</div>
		</div>
	</div>
</footer>