<navigation></navigation>
<div class="banner-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="texto">
          <h2>Encontre o guincho mais próximo de você</h2>
          <p>Consulte os serviços, distância e avaliação de cada profissional.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="filtro">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="filtro-content">
            <input id="filter" type="text", name="filter", ng-model="textFilter" placeholder="Filtrar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lista-guinchos">
  <div class="container">
    <!-- <page-header content="vm.pageHeader"></page-header> -->
    <div class="row">
      <div class="col-md-12">
        <div class="error">{{ vm.message }}</div>
        <div class="row list-group">
          <div class="col-md-3 col-sm-6" ng-repeat="location in vm.data.locations | filter : textFilter">
            <div class="list-group-item">
              <a href="/#/location/{{ location._id }}">
                <div class="imagem-guincho" style="background-image: url('https://image.ibb.co/kXnn8J/thumb_02.png');">
                </div>
              </a>
              <div class="info-item">
                <h4>
                  <span class="badge">{{ location.distance | formatDistance }}</span>
                  <a href="/#/location/{{ location._id }}">{{ location.name }}</a>
                  <small class="rating-stars" rating-stars rating="location.rating"></small>
                </h4>
                <p class="address">{{ location.address }}</p>
                <p>
                  <span class="label" ng-repeat="services in location.services">
                    {{ services }} 
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-generic></footer-generic>